.FruitPreview.pomme{
    background-color : red; 
}

.FruitPreview.poire {
    background-color: green;
}

.FruitPreview.ananas {
    background-color : yellow;
}

.FruitPreview.fraise {
    background-color: red;
}

.FruitPreview.raisin {
    background-color: purple;
}

.FruitPreview.kiwi {
    background-color: burlywood;
}

.FruitPreview.banane {
    background-color: yellow;
}

.FruitPreview.cerise {
    background-color: red;
}

.FruitPreview.framboise {
    background-color: pink;
}


